<header class="header" style="background-color: rgb(135, 135, 190)">
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/login">LOGIN</a></li>
    <li><a href="/register">REGISTER</a></li>
  </ul>
</header>
