<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습 동작 예시</title>

    <!-- TODO: axios cdn 불러오기 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
      /* TODO: CSS 정의 */
    </style>
  </head>
  <body>
    <!-- TODO: 파일 업로드를 위한 일반 폼 만들기 -->
    <form action="/result" method="POST" enctype="multipart/form-data">
      <br />
      <input type="text" name="id" id="id" placeholder="아이디" /><br />
      <input type="text" name="pw" placeholder="비밀번호" /><br />
      <input type="text" name="name" placeholder="이름" /><br />
      <input type="number" name="age" placeholder="나이" /><br />
      <input type="file" name="dynamicUserfile" id="dynamic-file" /><br />
      <br />
      <button type="submit">회원가입</button>
    </form>
  </body>
</html>
