/* css Module styling */
.container {
  display: flex;
  border: 1px solid black;
}

.box {
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
