<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>get으로 정보 받기</title>
  </head>
  <body>
    <form action="">
      <label for="name">이름</label>
      <input type="text" />

      <input type="radio" name="gender" />
      <label for="genderf">여자</label>
      <input type="radio" name="gender" />
      <label for="genderm">남자</label>

      <input type="select" />
    </form>
  </body>
</html>
